/* 
    Document   : init
    Created on : 30-04-2015, 03:00:21 PM
    Author     : Sebastián Franco Brantes
    Description:
        Purpose of the stylesheet follows.
*/

body > .container {
  padding: 70px 15px 0;
  color: #747474 !important;
}

.menu{
    min-height: 55px; 
}

.abono{
    color: #01DF01;
}

.cargo{
    color: #FF0000;
}



hr.separador_post { 
 height: 30px;
 border-style: solid;
 border-color: #BFBFBF;
 border-width: 1px 0 0 0;
 /*border-radius: 20px;*/
 text-align: center;
}
 
hr.separador_post:before {
    /*display: block;
    content: "";
    height: 30px;
    margin-top: -31px;
    border-style: solid;
    border-color: black;
    border-width: 0 0 1px 0;
    -webkit-border-radius:20px;
       -moz-border-radius:20px;
            border-radius:20px;*/
}
 
hr.separador_post:after {
    /*content: '★';*/
    content: url('../images/anclaSmall.png');
    color: #DC5500;
    display: inline-block;
    position: relative;
    top: -0.7em;
    font-size: 1.5em;
    padding: 0 0.25em;
    background: white;
}